* {
  outline: 1px solid blue;
  .numberButtons {
    .row {
      .roundcol {
        .row {
          display: flex;
          justify-content: flex-end;
          .round {
            width: 200px;
            height: 200px;
            background-color: #000;
            border: 1px solid #000;
            border-radius: 50%;
          }
        }
      }
      .numberscol {
        .row {
          margin: auto;
          display: flex;
          justify-content: center;
          .btn-outline-dark {
            width: 60px;
            height: 60px;
            font-size: 30px;
            margin: 0;
            text-align: center;
          }
          .btn-outline-dark:hover {
            background-color: #123589;
          }
        }
      }
    }
  }
}
