* {
  // outline: 1px solid blue;
  .numberButtons {
    display: flex;
    height: 100vh;
    background-color: #ccbba2;
    .out.row {
      margin: auto;
      border: 8px solid #3356a7db;
      border-radius: 20px;
      padding: 80px 0;
      .showcol {
        .text-center.my-4 {
          .my-2 {
            .btn.btn-outline-dark {
              border: none;
              background-color: #945646;
              color: #fff;
              width: 180px;
            }
            .btn.btn-outline-dark:hover {
              background-color: #6b735b;
            }
          }
        }
      }
      .numberscol {
        .row {
          margin: auto;
          display: flex;
          justify-content: start;
          .btn-outline-dark {
            width: 60px;
            height: 60px;
            font-size: 30px;
            margin: 0;
            text-align: center;
            border: 3px solid #73666ce8;
          }
          .btn-outline-dark:hover {
            background-color: #6b735b;
            border: 2px solid #6b735b;
          }
        }
      }
    }
  }
}
