@charset "UTF-8";
* {
  font-family: Helvetica, Verdana, Arial, 微軟正黑體, "Microsoft JhengHei", "儷黑 Pro", "LiHei Pro", sans-serif;
}

.containerfun {
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.containerfun .title {
  width: 350px;
  background-color: #bb0404;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerfun .title .number {
  width: 120px;
  height: 135px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 140px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 0.73;
}

.containerfun .title .item {
  color: #fff;
}

.containerfun .title .titleh2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  font-size: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 0 0 10px;
}

.containerfun .title .txt {
  background-color: #000;
  width: 450px;
  padding: 20px 20px 45px;
  line-height: 1.7;
}

.containerfun .title .txt h3 {
  font-size: 25px;
}

.containerfun .title .txt p {
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 2px;
}

.containerfun .shadow {
  width: 450px;
  height: 300px;
  background-color: #eeeeee;
  position: relative;
  top: -310px;
  z-index: -2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.containerfun .picture {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -530px;
  left: 80px;
  z-index: -1;
}

.containerfun .picture a {
  text-decoration: none;
}

.containerfun .picture .carpic {
  width: 86%;
}

.containerfun .narrate {
  width: 560px;
  padding: 10px 20px 20px;
  background-color: #eeeeee;
  position: relative;
  top: -560px;
  left: 70px;
}

.containerfun .narrate .because {
  line-height: 2;
  font-weight: bold;
  color: #bb0404;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerfun .narrate .because::after {
  content: ' ';
  width: 390px;
  border-bottom: 1px solid #bb0404;
}

.containerfun .narrate ul {
  line-height: 1.2;
}

.containerfun .narrate ul p {
  padding: 1px 3px;
  display: inline-block;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}

.containerfun .narrate ul li {
  color: #333333;
  padding-left: 20px;
  text-indent: -20px;
  font-size: 14px;
}

.containerfun .narrate ul li::before {
  content: '．';
  color: #bb0404;
  font-size: 20px;
}

.containereven {
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  position: relative;
}

.containereven .title {
  width: 350px;
  background-color: #bb0404;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.containereven .title .number {
  width: 110px;
  height: 135px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 125px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.containereven .title .item {
  color: #fff;
}

.containereven .title .titleh2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  font-size: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 10px 20px 0;
}

.containereven .title .txt {
  background-color: #000;
  width: 450px;
  padding: 20px 20px 20px;
  line-height: 1.7;
}

.containereven .title .txt h3 {
  font-size: 25px;
}

.containereven .title .txt p {
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 2px;
}

.containereven .shadow {
  width: 470px;
  height: 370px;
  background-color: #eeeeee;
  position: relative;
  top: -280px;
  left: 300px;
  z-index: -2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.containereven .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: -570px;
  z-index: -1;
}

.containereven .picture a {
  text-decoration: none;
}

.containereven .picture .you {
  width: 1%;
}

.containereven .narrate {
  width: 570px;
  padding: 10px 12px 20px;
  background-color: #eeeeee;
  position: relative;
  top: -600px;
  right: 0;
}

.containereven .narrate .because {
  line-height: 2;
  font-weight: bold;
  color: #bb0404;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containereven .narrate .because::after {
  content: ' ';
  width: 380px;
  border-bottom: 1px solid #bb0404;
}

.containereven .narrate ul {
  line-height: 1.2;
}

.containereven .narrate ul p {
  padding: 1px 3px;
  display: inline-block;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}

.containereven .narrate ul li {
  color: #333333;
  padding-left: 20px;
  text-indent: -20px;
  font-size: 14px;
}

.containereven .narrate ul li::before {
  content: '．';
  color: #bb0404;
  font-size: 20px;
}

.containerodd {
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.containerodd .title {
  width: 350px;
  background-color: #bb0404;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerodd .title .number {
  width: 120px;
  height: 135px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 125px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 0.71;
}

.containerodd .title .item {
  color: #fff;
}

.containerodd .title .titleh2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  font-size: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 0 0;
}

.containerodd .title .txt {
  background-color: #000;
  width: 450px;
  padding: 20px 20px 20px;
  line-height: 1.7;
}

.containerodd .title .txt h3 {
  font-size: 25px;
}

.containerodd .title .txt p {
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 2px;
}

.containerodd .shadow {
  width: 450px;
  height: 300px;
  background-color: #eeeeee;
  position: relative;
  top: -310px;
  z-index: -2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.containerodd .picture {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -530px;
  left: 80px;
  z-index: -1;
}

.containerodd .picture a {
  text-decoration: none;
}

.containerodd .picture .carpic {
  width: 86%;
}

.containerodd .narrate {
  width: 550px;
  padding: 10px 12px 20px;
  background-color: #eeeeee;
  position: relative;
  top: -560px;
  left: 60px;
}

.containerodd .narrate .because {
  line-height: 2;
  font-weight: bold;
  color: #bb0404;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerodd .narrate .because::after {
  content: ' ';
  width: 380px;
  border-bottom: 1px solid #bb0404;
}

.containerodd .narrate ul {
  line-height: 1.2;
}

.containerodd .narrate ul p {
  padding: 1px 3px;
  display: inline-block;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}

.containerodd .narrate ul li {
  color: #333333;
  padding-left: 20px;
  text-indent: -20px;
  font-size: 14px;
}

.containerodd .narrate ul li::before {
  content: '．';
  color: #bb0404;
  font-size: 20px;
}
/*# sourceMappingURL=fivepoints.css.map */