div.container {
    font-family: 'Exo', sans-serif;
    .row:nth-child(1) {
        background-color: #94aa4d8f;

        .btn {
            margin: 5px 10px;
            font-size: 28px;
            text-align: center;
        }

        .year_month_btn,
        .return_btn {
            background-color: #5f7096;
            color: #fff;
            border-radius: 40px;
        }

        .timer {
            color: #fff;
            margin: auto 0 auto auto;
            font-size: 28px;
            border-radius: 15px;
        }

        .return_btn {
            margin-left: auto;
        }

        .previous_btn,
        .next_btn {
            border: 1px solid transparent;
            background-color: #5f7096;
            color: #fff;
            border-radius: 100%;
        }

        .previous_btn:hover,
        .next_btn:hover,
        .today:hover {
            background-color: #023359ad;
        }


    }

    .row:nth-child(2) {
        table {
            margin: auto;
            width: 100%;

            thead {
                tr {
                    th {
                        width: 14.2857%;
                        outline: .5px solid #023359ad;
                        text-align: center;
                        padding: 20px;
                        font-size: 24px;
                        font-weight: bold;
                        height: 10vh;
                        color: #fff;
                        background-color: #5f7096;
                    }
                }
            }

            tbody {
                tr {
                    .PNMonth {
                        color: #94aa4d8f;
                    }

                    .today {
                        background-color: #ff8a8a;
                    }

                    td {
                        width: 14.2857%;
                        outline: .5px solid #023359ad;
                        font-size: 20px;
                        padding-left: 10px;
                        padding-top: 10px;
                        height: 13vh;
                        background-color: #f8e58c;
                        color: #023359;

                        .event_btn {
                            width: 94%;
                            padding: 0;
                            margin: 1px 0;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                        }
                    }

                    td:hover {
                        background-color: #5f709657;
                    }
                }
            }
        }
    }
}

#addItineraryModal,
#DeleteEditModal {
    font-family: 'Exo', sans-serif;
}

