footer {
    background-color: #eee;
}

.contact p {
    font-size: 16px;
    text-align: justify;
}

.site {
    padding: 30px 0 20px;
    font-size: 14px;
}

footer {
    border-top: 3px solid #aaa;
}

.tostart img {
    width: 30px;
    transform: rotate(180deg);
}