.swiper-container {
    margin-bottom: 20px;
}

.swiper-slide .textbox .text {
    margin-bottom: 80px;
}

.swiper-slide .textbox p {
    font-size: 40px;
}

.swiper-slide .textbox .row button {
    border: none;
    background-color: #3d9be9;
    padding: 10px 20px;
}

.swiper-slide .textbox .row button:hover {
    background-color: #045184;
}

.swiper-slide .textbox .row {
    /* margin: 30px; */
}

.swiper-slide .textbox .row>div {
    padding: 10px 0;
}

.toolsrow .txt li {
    text-align: justify;
}

