#line{
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.footers .foot:first-child:after{
    display: block;
    content: '';
    width: 1200px;
    border-bottom: 1px solid #777777;
    margin-top: 30px;
}
.footers{
    width: 1200px;
    margin: auto;
    /* outline: 1px solid yellow; */
}
.foot{
    background-color: #fff;
    padding: 30px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
}

.foot i{
    font-size: 8px;
}
.footers a{
    color: #000;
    text-decoration: none;
}
.footers :nth-child(1) a{
    font-size: 14px;
    margin: 10px;
}

.footers :first-child a ~ a::before{
    content: '|  ';
}

.footers :nth-child(2) a:nth-child(2) ~ a:not(.inner :last-child)::before{
    content: '|  ';
}

.footers :nth-child(2) a{
    font-size: 12px;
    margin: 10px;
}

.footers :last-child :first-child{
    font-size:14px;
}


.footers :last-child{
    justify-content: space-between;
}
.footers :last-child i{
    font-size: 24px;
    color: #000;
}
.footers :last-child a{
    margin: 10px;
}


@media screen and (max-width:878px){
    .footers{
        width: 100%; 
    }

    .footers .foot:first-child{
        display: none;
    }
}