div.container {
    font-family: 'Exo', sans-serif;
    height: 98vh;

    .row {
        display: flex;
        justify-content: space-between;
        background-color: #94aa4d;
        align-items: center;

        button {
            font-size: 28px;
            border: 1px solid transparent;
            background-color: transparent;
        }

        .col {
            text-align: center;
        }
    }
}

table {
    margin: auto;
    width: 100%;
    margin-top: 7vh;

    thead {
        tr {
            th {
                width: 14.2857%;
                outline: .5px solid #023359ad;
                text-align: center;
                padding: 20px;
                font-size: 20px;
                font-weight: bold;
                height: 10vh;
                color: #002c2f;
                background-color: #b2a59f;
            }
        }
    }

    tbody {
        tr {
            .PNMonth {
                color: #94aa4d;
            }

            td {
                width: 14.2857%;
                outline: .5px solid #023359ad;
                font-size: 20px;
                padding-left: 10px;
                padding-top: 10px;
                height: 13vh;
                background-color: #f8e58c;
                color: #614f25;
            }
        }
    }
}