div.container {
    font-family: 'Exo', sans-serif;
    height: 98vh;

    .row {
        display: flex;
        justify-content: space-between;
        height: 14vh;

        button {
            font-size: 28px;
            background-color: #d6da6e;
        }

        .col {
            text-align: center;
        }
    }
}

table {
    margin: auto;
    width: 100%;

    thead,
    tbody {
        tr {
            .PNMonth {
                color: #aaa;
            }

            td {
                width: 14.2857%;
                outline: 2px solid #ea4d5e;
                height: 14vh;
            }
        }
    }

    thead {
        tr {
            td {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 20px;
                padding-left: 10px;
                padding-top: 10px;
            }
        }
    }
}